@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpensansBold'),
  url(../fonts/opensans-bold-webfont.woff) format('woff'),
  url(../fonts/opensans-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpensansLight'),
  url(../fonts/opensans-light-webfont.woff) format('woff'),
  url(../fonts/opensans-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpensansRegular'),
  url(../fonts/opensans-regular-webfont.woff) format('woff'),
  url(../fonts/opensans-regular-webfont.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}
body {
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  padding: 0 auto;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: inherit;
  outline: none;
}

input {
  outline: none;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1640px;
}

.header__container {
  margin: 0 auto;
  max-width: 1586px;
}


/* .header__top {
  width: 1500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header__top {
  position: relative;
}

.header-item {
  display: flex;
}

.header-list:not(:last-child) {
  margin-right: 62px;
}

.header-link,
.header__login--button {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

/* .link-style:hover,
.link-style:active {
  color: var(--viola);
  transition: all .3s ease-in-out;
}

.link-style:active {
  color: var(--viola);
  transition: all .3s ease-in-out;
} */



/* .link-style:focus {
  outline: none   ;
  color: var(--white);
  background: var(--purple);
  transition: all .3s ease-in-out;
} */

.header-nav__btn {
  display: block;
  background-color: transparent;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
}

.header-nav__link:before, .outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -23px;
  background-color: var(--viola);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header-nav__link:focus-visible:before,
.outline-focus:focus-visible:before {
  opacity: 1;
  background-color: var(--purple);
  outline: none;
  border: none;
}
.header-nav__link:hover:not(:focus-visible) {
  color: var(--viola);
}
.header-nav__link:active:not(:focus-visible) {
  color: var(--purple);
}



.header__login--icon {
  position: absolute;
  top: 10px;
  left: 2px;
}

/* Header-bottom */

.header__bottom {
  z-index: 5;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  margin: 0 auto;
  /* max-width: 1614px; */
}

.header__bottom-item  {
  height: 70px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-dropdown {
  margin-right:  auto;
}

.active-header__bottom-list {
  display: block;
}

.header__bottom-button {
  position: relative;
  background: inherit;
  border: inherit;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
}



/* .header__bottom-button.acti:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  
  animation: anim 2s infinite ease-in-out;
}

@keyframes anim {
  0% {
    transform: scaleX(0)  translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
} */

.span--icon {
  position: absolute;
  top: 7px;
}

.search,
.search-mobile {
  background: transparent;
}

.search {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header__bottom-search {
  max-width: 146px;
}

.search-btn {
  margin-top: 7px;
}

.search-button {
  border: none;
  background: inherit;
  border: none;
  width: 20px;
}

.search__input {
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.search__input,
.search-mobile__input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--white);
  outline: none;
  width: 130px;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  color: var(--white);
  font-size: 18px;
  caret-color: var(--light-purple);
}

.search__input::-webkit-search-cancel-button,
.search-mobile__input::-webkit-search-cancel-button {
  display: none;
}

.search:hover .search__input {
  border-bottom: solid 1px var(--viola);
}

.search:focus-within .search__input {
  border-bottom: solid 1px var(--viola);
}


input[type="search"]::-moz-placeholder {color: rgba(255, 255, 255, 0.85);}
input[type="search"]::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.85);}
input[type="search"]:-ms-input-placeholder {color:rgba(255, 255, 255, 0.85);}
input[type="search"]::-ms-input-placeholder {color: rgba(255, 255, 255, 0.85);}
input[type="search"]::placeholder {color: rgba(255, 255, 255, 0.85);}

input::-webkit-input-placeholder       {opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}




.header__bottom-list {
  display: flex;
  justify-content: space-between;
}

.container__dropdown {
  padding-left: 20px;

}

.container__dropdown-list {
  width: 270px;
  max-height: 220px;
  position: relative;
}

.header__bottom-item-btn{
  margin-right: 40px;
  background-color: inherit;
  border: none;
  /* padding: 5px 19px; */
  cursor: pointer;
  color: var(--white);
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  transition-property: background-color;
  transition: .3s ease-in-out;
}

.header__bottom-item-btn {
  position: relative;
}

.header__bottom-arrow {
  position: absolute;
  top: 8px;
  right: -16px;
}

.header__bottom-item-btn:hover .header__bottom-arrow path {
  cursor: pointer;
  stroke: var(--purple);
  fill: none;
}

.header__bottom-item-btn .header__bottom-arrow path {
  transition: stroke .3s ease-in-out;
}


.header__bottom-arrow:active path {
  transform: scaleX(0);
}

.active--btn .header__bottom-arrow  {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
} 


/* .header__bottom-item-btn:active {
  background: inherit;
  color: var(--purple);
} */

.container__dropdown-item:hover,
.container__dropdown-item:focus {
  cursor: pointer;
  outline: none;
  border: 2px solid #9D5CD0;
  transition: border .3s ease-in-out;
}



.dropdown-button {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}


.container__dropdown-item:active {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  border: 2px solid #D1A9F0;
}


.header__bottom-item {
  position: relative;
}

.header__bottom-item:not(:last-child) {
  margin-right: auto;
}

.last-list {
  margin-right: auto;
}



.container__dropdown {
  width: 300px;
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  top: 75px;
  transition: display 0.9s ease-in-out;
}

.drop--list {
    margin: 0 auto;
    width: 240px;
    max-height: 220px;
    overflow: auto;
  }


.container__dropdown-item {
  width: 220px;
  padding: 10px;
  height: 40px;
  margin-bottom: 20px;
}
/* .container__dropdown-item:last-child {
  border: 0;
} */

.active-header__bottom-item {
  display: block;
}
.list--item__btn.active--btn:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  
  animation: anim 2s infinite ease-in-out;
}



@keyframes anim {
  0% {
    transform: scaleX(0)  translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
}

.simplebar-track.simplebar-vertical {
  background-color: var(--black);
  width: 2px;
  bottom: 10px;
}

/* .simplebar-content-wrapper {
  padding-right: 15px;
} */

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: var(--white);
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.tintiretto {
  background-image: url(../img/header/header-bottom/dropdown-1-2.png);
  background-repeat: no-repeat;
}

.fridrich {
  background-image: url(../img/header/header-bottom/dropdown-1-1.png);
  background-repeat: no-repeat;
}

.leonardo{
  background-image: url(../img/header/header-bottom/dropdown-1-3.png);
  background-repeat: no-repeat;
}

.verrokio {
  background-image: url(../img/header/header-bottom/dropdown-1-4.png);
  background-repeat: no-repeat;
}

.fridrich-1{
  background-image: url(../img/header/header-bottom/dropdown-1-3.png);
  background-repeat: no-repeat;
}

.tintirett0-1 {
  background-image: url(../img/header/header-bottom/dropdown-1-4.png);
  background-repeat: no-repeat;
}

.mone {
  background-image: url(../img/header/header-bottom/drop-2-1.png);
  background-repeat: no-repeat;
}

.sisley {
  background-image: url(../img/header/header-bottom/drop-2-2.png);
  background-repeat: no-repeat;
}

.mane {
  background-image: url(../img/header/header-bottom/drop-2-3.png);
  background-repeat: no-repeat;
}

.renuar {
  background-image: url(../img/header/header-bottom/drop-2-4.png);
  background-repeat: no-repeat;
}

.sisley-1 {
  background-image: url(../img/header/header-bottom/drop-2-1.png);
  background-repeat: no-repeat;
}

.mane-1{
  background-image: url(../img/header/header-bottom/drop-2-2.png);
  background-repeat: no-repeat;
}

.van-gogh {
  background-image: url(../img/header/header-bottom/drop-3-1.png);
  background-repeat: no-repeat;
}

.sezan {
  background-image: url(../img/header/header-bottom/drop-3-2.png);
  background-repeat: no-repeat;
}

.gogen {
  background-image: url(../img/header/header-bottom/drop-3-3.png);
  background-repeat: no-repeat;
}

.siera {
  background-image: url(../img/header/header-bottom/drop-3-4.png);
  background-repeat: no-repeat;
}

.van-gogh-1 {
  background-image: url(../img/header/header-bottom/drop-3-1.png);
  background-repeat: no-repeat;
}

.gogen-1 {
  background-image: url(../img/header/header-bottom/drop-3-2.png);
  background-repeat: no-repeat;
}

.kandinskiy {
  background-image: url(../img/header/header-bottom/drop-4-1.png);
  background-repeat: no-repeat;
}

.marinetty {
  background-image: url(../img/header/header-bottom/drop-4-2.png);
  background-repeat: no-repeat;
}

.malevich {
  background-image: url(../img/header/header-bottom/drop-4-3.png);
  background-repeat: no-repeat;
}

.pikasso {
  background-image: url(../img/header/header-bottom/drop-4-4.png);
  background-repeat: no-repeat;
}

.marinetty-1 {
  background-image: url(../img/header/header-bottom/drop-4-1.png);
  background-repeat: no-repeat;
}

.malevich-1 {
  background-image: url(../img/header/header-bottom/drop-4-2.png);
  background-repeat: no-repeat;
}

.karra {
  background-image: url(../img/header/header-bottom/drop-5-1.png);
  background-repeat: no-repeat;
}

.pratella {
  background-image: url(../img/header/header-bottom/drop-5-2.png);
  background-repeat: no-repeat;
}

.severiny {
  background-image: url(../img/header/header-bottom/drop-5-3.png);
  background-repeat: no-repeat;
}

.verrokio-2 {
  background-image: url(../img/header/header-bottom/drop-5-4.png);
  background-repeat: no-repeat;
}

.balla {
  background-image: url(../img/header/header-bottom/drop-5-1.png);
  background-repeat: no-repeat;
}

.pratella-1 {
  background-image: url(../img/header/header-bottom/drop-5-2.png);
  background-repeat: no-repeat;
}


/* Hero */

.hero {
  margin-bottom: 90px;
}


/* .hero__discription {
 position: absolute;
  z-index: 10;

}

.swiper-container {
  position: relative;
  z-index: 1;
} */

.hero-title {
  width: 597px;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  color: var(--white);
}

.hero-discr {
  width: 597px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 96px;
  color: var(--white);
}

.hero__button {
  margin-bottom: 122px;
  padding: 22px 39px;
  background: var(--purple);
  border: inherit;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.button {
  background-color: transparent;
  border: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
}

.outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: var(--color-Aquamarine);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
.outline-focus:before {
  background-color: transparent;
  border: 2px solid var(--viola);
  
}
.outline-focus {
  background-color: var(--purple);
  /* border: 2px solid var(--viola); */
}

.outline-focus:focus-visible:before {
  opacity: 1;
  border: 1px solid var(--white);
  outline: 3px solid var(--viola);
  border-radius: 100px;
}

.outline-focus:hover:not(:focus-visible) {
  background-color: var(--amethyst);
  border: 2px solid var(--amethyst);
}
.outline-focus:active:not(:focus-visible),
.outline-focus.button-active:active {
  background-color: var(--viola);
}


/* 
.outline-focus:before {
  background-color: transparent;
  border: 3px solid var(--light-purple);
}
.outline-focus {
  background-color: var(--amethyst);
  border: 3px solid var(--amethyst);
}

.outline-focus:hover:not(:focus-visible) {
  background-color: var(--amethyst);
  border: 3px solid var(--light-purple);
}
.outline-focus:active:not(:focus-visible),
.outline-focus.btn-active:active {
  background-color:var(--purple);
  border: 3px solid var(--light-purple);
}

.outline-focus.btn-active:active {
  background-color:var(--purple);
  border: 3px solid var(--light-purple);
  outline: var(--light-purple);
} */


/* .hero-swiper {
  z-index: -2;
  position: relative;
  
}

.swiper-slide {
  background-size: cover;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-picture {
  height: 660px;
  width: 100%;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  
} */

.hero {
  width: 100%;
  background-image: url(../img/hero/swiper-3.jpg);
  background-repeat: no-repeat;
  
}

.hero__discription {
  padding-top: 144px;
}

.hero__button {
  margin-bottom: 122px;
}


/* About */

.about {
  margin-bottom: 100px;
}

.about-container {
  max-width: 1572px;
  margin: 0 auto;
  margin-bottom: 79px;
  margin-top: 90px;
}


.about-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
  color: var(--signal-black);
}

.about-discription {
  max-width: 1080px;
  margin-top: 23px;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
  color: var(--signal-black);
}

/* Gallary */

  /* Gallary */

  

  .gallery {
    margin-bottom: 30px;
    background-image: url(../img/gallary/galery-back.png);
  }

  .gallery__container {
    max-width: 1585px;
  }

  .gallary__left_info {
    margin-right: 49px;
  }

  .gallary-title {
    padding-top: 67px;
    font-size: 48px;
    font-weight: normal;
    line-height: 100px;
    color: var(--white);
}

  .gallery__select {
    margin-bottom: 186px;
  }

  .filter-span {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color:var(--white);
  }


  .select {
    width: 400px;
    height: 40px;
    position: relative;
  }
  .select.is-active .select__body {
    display: block;}
  
  .select__header {
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
  }
  .select__current {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    padding: 8px;
  }
  .select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
  }
  
  .select__body {
    border: 1px solid var(--white);
    border-radius: 6px;
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
  .select__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: 8px;
  }
  
  .select__item:hover {
    background-color: #f2f2f2;
  }

  .gallary__download-discr {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
  }

  .select__item:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .select__header:hover,
  .select__header:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  .select__header:active {
    background: rgba(255, 255, 255, 0.2);
  }

  .gallery__right {
    max-width: 68%;
    margin-top: 100px;
    max-width: 72%;
    margin-bottom: 30px;
  }

  .gallary__content {
    display: flex;
  }

  .gallary-swiper {
    position: relative;
  }

  .slider-button {
    position: static;
  }

  .gallary-swiper-slide {
    height: 60%;
    width: 33%;
  }

  .slider-button {
    display: flex;
    width: 130px;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: 6px;
  }

  .swiper-pagination {
    color: white;
    font-size: 16px;
    line-height: 6px;
    text-align: center;
    position: static;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    position: static;
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
  }

  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
  }

  .project-button-prev:hover path {
    fill: var(--viola);
    cursor: pointer;
  }

  .project-button-prev:active path {
    fill: var(--amethyst);
    cursor: pointer;
  }

  .project-button-next:hover path {
    fill: var(--viola);
    cursor: pointer;
  }

  .project-button-next:active path {
    fill: var(--amethyst);
    cursor: pointer;
  }

  .container-cat {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    line-height: 22px;
    color: var(--white);
  }
  
  .container-cat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 4;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: inherit;
    border: 1px solid var(--gray);
  }
  
  .container-cat:hover input ~ .checkmark {
    background-color: #eee;
    border: 1px solid var(--sandy-yellow);
  }
  
  /* .container input:checked ~ .checkmark {
    background-color: #CCB26E;
  } */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-cat input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-cat .checkmark:after {
    left: 2px;
    top: 2px;
    width: 1px;
    height: 2px;
    border: 1px solid var(--viola);
    border-width: 1px 1px 2px 4px;
  }


  .border {
    width: 176px;
    background-color: inherit;
    border-radius: 15px;
   }

  .border__title {
    padding-top: 21px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }

  /* Catalog */

  .catalog-discription {
    max-width: 1080px;
    font-size: 16px;
    line-height: 30px;
  }

  .catalog-title {
    font-size: 48px;
    line-height: 51px;
  }

  .faq {
    margin: 0 auto;
    max-width: 1630px;
    padding-top: 55px;
    margin-bottom: 63px;
  }
  
  .faq__container {
    max-width: 1770px;
  }
  
  .faq__title {
    padding-bottom: 44px;
  }

  .faq_intro {
    margin-bottom: 48px;
  }

 .faq__contant {
   display: flex;
   justify-content: space-between;
 }

 .faq__content-left-info {
   width: 48%;
 }

 .tab__content-image-main {
   margin-bottom: 31px;
 }

 /* .tab__content-image {
   background-image: url(../img/catalog/unknown.png);
   background-repeat: no-repeat;
   background-position: center;
 } */

 .left-info--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: var(--signal-black);
 }

 .left-info--years {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
 }

 .left-info--discr {
   max-width: 749px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--signal-black);
 }

 .tab__content-image {
  margin-bottom: 30px;
   width: 100%;
   /* background: var(--smoky-white); */
 }

 .left-info--link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--amethyst);
 }

 .nav-tab.active{
  background: #eeeeee;
  cursor: default;               
}

.tab-pane.active{
  display: block;
}

.tab-pane{
  display: none;
  
}
 .faq__accordion {
   width: 48%;
 }

 .acc_active {
   padding-bottom: 15px;
 }

 .accordionjs .acc_section.acc_active > .acc_content  {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }

 .artist_item {
 column-count: 3;
 }

 .artist-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--signal-black);
 }

 .accordion-title-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 49px;
  color: var(--signal-black);
 }

 .accordionjs {
   margin-top: 0;
 }

 .accordion-title {
  position: relative;
 }

 .accordion-title-icon {
  position: absolute;
 }

 .accordionjs .acc_section {
   border: none;
   border-top: 1px solid  var(--agate-grey);
   border-bottom: 1px solid  var(--agate-grey);
 }

 .accordionjs .acc_section .acc_content {
   padding-top: 25px;
 }

 .accordionjs .acc_section:hover {
   cursor: pointer;;
  border: none;
  border-top: 1px solid  var(--amethyst);
  border-bottom: 1px solid  var(--amethyst);
  transition: all .2s ease-in-out;
 }

  .accordion-title-link:hover {
   color: var(--amethyst);
   transition: color .2s ease-in-out;
 }

 .accordion-title-link:focus {
  color: var(--white);
  background: var(--amethyst);
  transition: all .3s ease-in-out;
}

.accordion-title-link:active {
  color: var(--purple);
  transition: color .2s ease-in-out;
}

 .accordion-item {
   position: relative;
 }

 .accordion-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color:#f2f2f2;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

 }

 .accordion-title::after {
  content: '';
  position: absolute;
  top: 47%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s ease-in-out;;
 }

  .accordion-title::after:active  {
  transform: scaleX(225deg);
}


.active--btn .header__bottom-arrow  {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
} 

 .acc_active::before {
  top: 46px;
  border: 1px solid var(--amethyst);
  background-color: var(--light-purple);
  z-index: 10;
}

.acc_active::after {
  top: 46px;
  z-index: 10;
  transform: rotate(225deg);
}

.accordion-item::before:hover {
  background-color: var(--light-purple);
}

/* .link-active::after{
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--amethyst);
  transform: width .3s ease-in-out;
}

.link-active {
  text-decoration: none;
  display: inline-block;
}

.link-active:hover::after{
  color: var(--amethyst);
  width: 100%;
}

.link-active:hover,
.link-active:active {
  background-color: none;
  color: var(--amethyst);
}

.link-active:focus {
  background-color:var(--amethyst);
  color: var(--smoky-white);
} */

.card-more {
  display: block;
  background-color: transparent;
  border: 0;
  color: var(--amethyst);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
}

.link-active:before, .card-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -23px;
  /* background-color: var(--viola); */
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.card-more:focus-visible:before,
.card-focus:focus-visible:before {
  opacity: 1;
  background-color: var(--purple);
  color: var(--white);
  outline: none;
  border: none;
}
.link-active:hover:not(:focus-visible) {
  color: var(--viola);
}
.link-active:active:not(:focus-visible) {
  color: var(--purple);
}

 /* Event */

 .event {
   margin-bottom: 80px;
 }

 .card-slide {
   /* max-width: 33%; */
   margin-right: 0;
   display: flex;
   flex-direction: column;
 }

 .event-swiper {
   position: relative;
   display: flex;
   justify-content: space-between;
   max-width: 100%;
 }

 .event_card--discr {
   height:100% ;
   padding-left: 30px;
   padding-right: 20px;
 }

 .event_card--discr {
   width: 100%;
   border-left: 1px solid var(--agate-grey);
   border-right: 1px solid var(--agate-grey);
   border-bottom: 1px solid var(--agate-grey);
 }

 .event-date--text {
   width: 91%;
   display: flex;
   flex-direction: column;
   align-items:baseline;
 }

 .card-date {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);
 }

 .card-date:not(:last-child) {
  padding-top: 13px;
 }

 .card-title {
  text-align: start;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--signal-black);
 }

 .card-discr {
   text-align: start;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--signal-black);
 }

 .card-more {
   margin-bottom: 47px;
   color: var(--amethyst);
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--amethyst) ;
 }

 /* Project */

 .project {
   margin-bottom: 80px;
 }

 .project-partners--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
 }

 .projects__descr {
  max-width: 65.7%;
  margin-bottom: 24px;
  line-height: 32px;
}

.tooltip {
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-marker {
  padding-top: 6px;
  padding-right: 4px;
  width: 22px;
  height: 22px;
  fill: transparent;
  transition: fill .3s ease-in-out;
}

.tooltip-marker__circle {
  stroke:var(--amethyst);
}

.tooltip-marker__icon {
  fill: var(--black);
}

.tooltip:hover .tooltip-marker,
.tooltip:focus .tooltip-marker {
  fill: var(--light-purple);
}

.tooltip:active .tooltip-marker__circle {
  fill: var(--amethyst);
}

.tooltip:active .tooltip-marker__icon {
  fill: var(--white);
}

.tooltip:focus {
  outline: none;
}

.tooltip::after {
  max-width: 200px;
	background: var(--amethyst);
	border-radius: 2px 2px 2px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -29px;
	opacity: 0; 
	padding: 8px 21px;
	position: absolute;
	visibility: hidden; 
	transition: all 0.4s ease-in-out; 
}
		
.tooltip:hover::after {
	opacity: 1; /* Показываем его */
	visibility: visible;
}

.projects__link {
  color: var(--amethyst);
}

 .project__slider {
   margin: 0 44px;
   position: relative;
 }

 .project-swiper {
   max-width: 100%;
   margin: 0 auto;
   padding: 0;
   overflow: hidden;
   position: relative;
   z-index: 1;
 }

 .project__slider-slide {
   /* max-width: 33%; */
   margin-right: 34px;
   height: 128px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--signal-black);
 }

 .project__slider-slide:hover {
   cursor: pointer;
   border: 1px solid var(--amethyst);
 }

 .project-button-next,
 .project-button-prev   {
   display: block;
  position: absolute;
  top: 40%;
 }







 .slide-img {
   max-height: 100%;
   max-width: 100%;
  opacity: 0.5;
  filter: grayscale(100%);
 }

 .slide-img:hover {
  transition: filter .3s ease-in-out;
   position: relative;
   filter: grayscale(0%);
   opacity: 1;
   cursor: pointer;
 }

 .slide-img-1 {
  max-width: 61%;
  max-height: 63%;
 }

 .slide-img-3 {
  max-width: 33%;
  max-height: 60%;
 }

 .project-button-next, .swiper-rtl  {
  right: -30px;
 }

 .project-button-prev, .swiper-rtl {
  left: -30px;
}

.swiper-button-disabled {
  display: none;
}




/* Contact */

.contact {
  border-top: 1px solid var(--agate-grey);
}

.contact__container {
  display: flex;
  justify-content: space-between;
  height: 155px;
  align-items: center;
    margin: 0 auto;
    max-width: 1640px;
   
}

.footer__form_item {
    display: flex;
    height: 150px;
    align-items: center;
}

.footer__form-input {
  margin-right: 30px;
  width: 270px;
  height: 50px;
  border: 1px solid var(--signal-black);
  border-radius: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  padding-left: 24px;
}

form {
  height: 150px;
  display: flex;
  align-items: center;
}

.footer__form-input::placeholder {
  color: var(--black);
   opacity: 1;
  }

.footer__form-input:hover {
  background: var(--agate-grey);
transition: background .3s ease-in-out;
}

.footer__form-input:focus {
  border-radius: 10px;
  border: 2px solid var(--viola);
  transition: border .3s ease-in-out;
}

.footer__form-input:active {
  border-radius: 50px;
  background: var(--smoky-white);
transition: background .3s ease-in-out;
}

.contact-title {
  font-weight: 600;
font-size: 24px;
line-height: 32px;
color: var(--signal-black);
}

.contact-discr {
  font-weight: 400;
font-size: 24px;
line-height: 32px;
color: var(--signal-black);
}


.footer__button-sent {
  padding: 12px 32px ;
  font-weight: bold;
font-size: 18px;
line-height: 25px;
color: var(--amethyst);
border: 2px solid var(--amethyst);
background: inherit;
border-radius: 30px;
}

.outline-focus-footer:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: 0px;
  background-color: var(--color-Aquamarine);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.contact_item {
  margin-top: 20px;
  display: flex;
}

.contact-list {
  list-style: none;
}

.contact_icon {
  margin-bottom: 40px;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
}

.social-svg:hover,
.social-svg:focus {
  cursor: pointer;
  opacity: .5;
}

.social-svg:active {
  border-radius: 100%;
  border: 1px solid var(--amethyst);
  cursor: pointer;
  opacity: 1;
}

.footer__button-sent:hover {
  cursor: pointer;
  background-color: var(--amethyst);
  color: var(--white);
  transition: all .3s ease-in-out;
}

.contact-list:not(:last-child) {
  margin-right: 20px;
}

.contact-list-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

.map {
  width: 100%;
  height:700px;
  background-color: var(--signal-black);
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-map {
  width: 100%;
  height: 700px;
}

/* Footer */

.footer {
  background: var(--black);
}

.footer__container {
  height: 140px;
  margin: 0 auto;
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sociat-item {
  display: flex;
}

.social-list {
  margin-right: 20px;
}

.footer-icon:hover path {
  cursor: pointer;
  fill: var(--amethyst);
}